<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Random location generator</title>
        <meta name="description" content="This art project was inspired by the works of Jenny Holzer and Bruce Nauman">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{ url_for('static', filename='/favicon-16x16.png') }}">
        <link rel="manifest" href="{ url_for('static', filename='/site.webmanifest') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <main>
            <h1>
                <span id="city"></span> <span id="country"></span>
            </h1>
        </main>
        
        <script>
            const cities = {{cityList|tojson}};
            const countries = {{countryList|tojson}};
        </script>
        <script async src="{{ url_for('static', filename='javascript/main.js') }}"></script>
    </body>
</html>